<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class=""></i>
            </div>
            <div class="sidebar-brand-text mx-3">E-nstruman YÖNETİCİ PLATFORMU</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","AdminUser")">
                <i class=""></i>
                <span>Admin Users</span>
            </a>
        </li>








        <!-- Divider -->
        <hr class="sidebar-divider">



        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","City")">
                <i class=""></i>
                <span>Cities</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","District")">
                <i class=""></i>
                <span>Districts</span>
            </a>
        </li>
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Category")">
                <i class=""></i>
                <span>Categories</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Product")">
                <i class=""></i>
                <span>Products</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        

    </ul>
<!-- End of Sidebar -->
