@using DAL;
@model List<Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<OrderProduct> opList = ViewBag.opBag as List<OrderProduct>;
}

<form class="bg0 p-t-75 p-b-85">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">

                                <th class="column-1">Sipariş Tarihi</th>
                                <th class="column-2">Sipariş No</th>
                                <th class="column-3">Kargo Takip No</th>
                                <th class="column-4">Ürünler</th>
                            </tr>



                            @foreach (Order item in Model)
                            {
                                List<OrderProduct> op = opList.Where(x => x.Order_ID == item.ID).ToList();

                                <tr class="table_row">
                                    <td class="column-1">@item.OrderDate</td>
                                    <td class="column-2">@item.OrderNo</td>
                                    <td class="column-3">@item.ShippingNo</td>
                                    <td class="column-4">
                                        @foreach (OrderProduct oitem in op)
                                        {
                                            <p>@oitem.ProductName<br /><img style="width:100px; height:100px" src="@oitem.ImagePath" /></p>
                                        }
                                    </td>



                                </tr>
                            }

                        </table>


                    </div>

                </div>
            </div>

        </div>
    </div>
</form>


